<p>
  <% @tag.categories.each do |category| %>
    <%= link_to category.photo.title, photo_path(category.photo) %>
    <%= image_tag category.photo.photo_url %>
    <!-- for each image, you should make a link / form to route to the
    photos#remove_tag action here! -->
  <% end %>
</p>

<%= form_for (@tag), method: :delete do |f| %>
  <%= f.submit "Remove Tag", class: "delete" %>
  <% end %>
