<h1>My Photos</h1>

<% @photos.each do |photo| %>
  <div class="row">

    <div class="index_photo">
      <%= image_tag photo.photo_url%>
    </div>

    <div class="index_photo_title">
      <%= link_to photo.title, photo_path(photo)%>
    </div>

    <div class="index_photo_score">
        Score: <%= photo.score %>
    </div>

    <div class="num_comments">Comments(<%= photo.comments.count %>)</div>
    </div>
<% end %>
