/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }

body {
  margin: 0;
  background-color: #2F343B;
  color: #E3CDA4;
  font-family: georgia;
}

header{
  background-color: #703030;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-left: 1em;
}


nav ul {
  display: inline;
  margin-left: 0;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 5px 20px;
  background-color: #7E827A;
}

nav ul li a {
  text-decoration: none;
  color: #E3CDA4;
  font-size: 16px;

}

.pageTitle{
  padding-left: .5em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;
  background-color: #7E827A;
  height: 200px;
}

.row * {
  margin: 0 1em;
}


div.index_photo img {
  height: 200px;
  float: left;
  margin-left: 0;
}


div.index_photo_title a {
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color: #E3CDA4;
}


div.index_photo_score {
  font-size: 2em;
}

div.num_comments {
  font-size: 1.5em;
}

div.show_container {
  text-align: center;
}

div.score {
  font-size: 50px;
}


.tag_index a{
  text-decoration: none;
  color: #E3CDA4;
  font-size: 3em;
  margin-right: 1em;
}

.tags a{
  text-decoration: none;
  display: inline-flex;
  color: #E3CDA4;
  font-size: 1.5em;
  margin: .5em;
  padding: .2em;
  border: 2px solid #E3CDA4;
}

.showTagContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.showTag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.showTag a{
  text-decoration: none;
  display: inline-flex;
  color: #E3CDA4;
  font-size: 1.5em;
}

.showTag img{
  height: 300px;
}
